node_modules
dist
.next
.nx
.turbo
.swc
.vscode
.idea
.git
.github
.husky
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.env
.env.local
.env.*.local
apps/*/dist
apps/*/.next
libs/*/dist
tmp
temp
build
*.tgz
.yarn
.pnp.*
