#
# APPLICATION
#
PORT=5000
ALLOWED_HOSTS=*
STOREFRONT_URL=https://silver14nail.com
ENABLE_SWAGGER=true
SECRET_KEY=your-secret-key-change-this-in-production
TOKEN_EXPIRES=86400
REFRESH_TOKEN_EXPIRES=604800


#
# DATABASE (Docker Compose will use 'mysql' as host)
#
DATABASE_TYPE=mysql
DATABASE_HOST=mysql
MYSQL_DATABASE=silver14_nail_db
MYSQL_USER=silver14_user
MYSQL_PASSWORD=silver14_pass
MYSQL_ROOT_PASSWORD=silver14_root_pass
MYSQL_PORT=3306


# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret

# PayPal
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_MODE=sandbox
PAYPAL_WEBHOOK_ID=your_paypal_webhook_id

#R2 CLOUD
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY=your_r2_secret_key
R2_BUCKET_NAME=silver14-nail
R2_PUBLIC_URL=https://pub-xxxxxxxxxxxxxxxx.r2.dev

# OnePAY
ONEPAY_ENV=sandbox
ONEPAY_MERCHANT_ID=TESTONEPAY
ONEPAY_ACCESS_CODE=your_access_code
ONEPAY_HASH_KEY=your_hash_key
ONEPAY_USER=your_user
ONEPAY_PASSWORD=your_password
ONEPAY_TITLE=Silver14 Nail — Thanh toán OnePAY
ONEPAY_API_URL=https://api.silver14nail.com/api
